html,
body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.hidden {
    display: none;
}

.sidebar {
    background-color: purple;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.projectsContainer {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.projectLink {
    cursor: pointer;
}

.newProject {
    height: 48px;
    border-radius: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(81, 90, 107);
    color: white;
    font-weight: bold;
} 

.newProjectContainer {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mainContent {
    background-color: rgb(81, 90, 107);

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.inputForm {
    height: 240px;
    width: 360px;

    background-color: whitesmoke;
    border-radius: 12px;
    border-style: solid;
    border-width: 4px;

    position: fixed;
    top: calc(50vh - 120px);
    left: calc(50vw - 180px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.addTask {
    height: 64px;
    width: 256px;
    margin: 48px;

    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: purple;
    border-radius: 32px;
    outline: none;
    border: none;
    cursor: pointer;
}

.toDoItems {
    width: 80%;
}

.mainAttrs {
    height: 64px;
    margin: 24px;
    padding: 0px 24px;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.priority {
    margin-left: -24px;
    height: 64px;
    width: 64px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    background-color: rgb(201, 201, 201);
    margin: -24px 24px 0px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.toggleCorners {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.priorityCorner {
    border-bottom-left-radius: 0px;
}

.shown {
    display: flex;
    justify-content: space-between;
}

.deleteIcon {
    padding-right: 30px;
}

.description {
    padding: 12px;
}

.extendIcon { 
    cursor: pointer; 
}